* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: "jura", monospace;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: #3aafa9;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 10px #2b7a78;
}

header img {
  max-height: 90px;
  margin: 0 1rem;
}

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #3aafa9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

nav .close {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 77px;
  font-weight: bold;
  color: #feffff;
  cursor: pointer;
}

nav .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
  height: 30%;
}

nav a {
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.2rem 3rem 0rem 2rem;
  color: #feffff;
  font-weight: bold;
  text-align: left;
}

nav a.border {
  border: solid 3px #feffff;
  background-color: #feffff;
  color: #3aafa9;
  border-radius: 0.5rem;
  padding: 0.2rem 2rem;
  margin-left: 2rem;
  box-shadow: 3px 3px #2b7a78;
  text-align: center;
  width: 40%;
}

nav a.border:hover {
  background-color: #2b7a78;
  color: #feffff;
  border: solid 3px #2b7a78;
  box-shadow: 3px 3px #feffff;
}

nav a.border:active {
  background-color: #feffff;
  color: #3aafa9;
  border: solid 3px #feffff;
  box-shadow: 3px 3px #2b7a78;
}

.menu-button {
  margin: 0 2rem;
  cursor: pointer;
}

.menu-button .line {
  width: 40px;
  height: 5px;
  border-radius: 1rem;
  background-color: #feffff;
  margin: 5px 0;
}

#hero {
  background-image: url("images/hero_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(30%);
  opacity: 0.9;
  position: relative;
  top: 100px;
  height: 670px;
  color: #feffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero h2 {
  font-weight: normal;
  font-size: 3rem;
  margin: 5px 0;
  text-shadow: 2px 2px #3aafa9;
}

#hero hr {
  width: 28%;
  border: solid 2px #feffff;
  box-shadow: -30px 0 #3aafa9;
  margin-left: 30px;
}

#hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #3aafa9;
  text-shadow: 3px 3px #feffff;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#hero h1.cursor::after {
  content: "";
  width: 5px;
  height: 60px;
  margin-left: 5px;
  background-color: #feffff;
  display: inline-block;
  animation: cursor-blink 1.2s steps(2) infinite;
}

#hero h1.mobile {
  display: none;
}

#hero h1:hover {
  text-shadow: 3px 3px 5px #feffff;
}

#hero .button {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

#hero a {
  color: #feffff;
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  border: solid 5px #feffff;
  border-radius: 1rem;
  padding: 0 3rem;
  box-shadow: 5px 5px #def2f1;
  font-weight: bold;
}

#hero a:hover {
  background-color: #3aafa9;
  border: solid 5px #3aafa9;
}

#hero a:active {
  background-color: #2b7a78;
  border: solid 5px #2b7a78;
}

@media only screen and (max-width: 1050px) {
  #hero h2 {
    font-size: 2.5rem;
    text-shadow: 1.3px 1.3px #3aafa9;
  }
  #hero h1 {
    font-size: 4rem;
    text-shadow: 2px 2px #feffff;
  }
  #hero h1:hover {
    text-shadow: 2px 2px 3px #feffff;
  }
  #hero a {
    font-size: 2.5rem;
    border: solid 3px #feffff;
    box-shadow: 3px 3px #def2f1;
  }
  #hero a:hover {
    border: solid 3px #3aafa9;
  }
}

@media only screen and (max-width: 875px) {
  #hero h2 {
    font-size: 2rem;
    text-shadow: 1.3px 1.3px #3aafa9;
  }
  #hero h1 {
    font-size: 3.33rem;
    text-shadow: 2px 2px #feffff;
  }
  #hero h1.cursor::after {
    height: 40px;
  }
  #hero h1:hover {
    text-shadow: 2px 2px 3px #feffff;
  }
  #hero a {
    font-size: 2rem;
    border: solid 3px #feffff;
    box-shadow: 3px 3px #def2f1;
  }
  #hero a:hover {
    border: solid 3px #3aafa9;
  }
}

@media only screen and (max-width: 705px) {
  #hero h1 {
    display: none;
  }
  #hero h1.mobile {
    display: block;
  }
}

#triangle-1 {
  background-color: #feffff;
  height: 100px;
  width: 100%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

#about {
  position: relative;
  top: -50px;
  margin-bottom: 0;
}

@media only screen and (max-width: 400px) {
  #about {
    top: 0px;
  }
}

#about h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #2b7a78;
}

#about .bubble {
  border: solid 5px #3aafa9;
  border-radius: 1rem;
  background-color: #3aafa9;
  box-shadow: 10px 10px #2b7a78;
}

#about .one {
  width: 5%;
  height: 5px;
  margin: 1rem 47.5%;
}

#about .two {
  width: 10%;
  height: 5px;
  margin: 1rem 45%;
}

#about .three {
  margin: 1rem 20%;
}

#about .content p {
  margin: 1.5rem 8%;
  font-weight: bold;
  color: #feffff;
  text-align: justify;
}

@media only screen and (max-width: 715px) {
  #about .bubble {
    box-shadow: 7px 7px #2b7a78;
  }
}

@media only screen and (max-width: 500px) {
  #about .bubble {
    box-shadow: 5px 5px #2b7a78;
  }

  #about .three {
    margin: 1rem 10%;
  }
}

@media only screen and (max-width: 400px) {
  #about .three {
    margin: 1rem 5%;
  }
}

#about .events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#about .event {
  width: 300px;
  margin: 3rem 1rem;
  padding: 1rem;
  border: solid 5px #def2f1;
  border-radius: 1rem;
  background-color: #def2f1;
  box-shadow: 10px 10px #2b7a78;
}

@keyframes grow {
  from {
    transform: none;
  }
  to {
    transform: scale(1.25);
  }
}

#about .event:hover {
  box-shadow: 10px 10px 10px #2b7a78;
  transform: scale(1.25);
  animation-name: grow;
  animation-duration: 0.4s;
}

#about .event h4 {
  font-weight: normal;
  color: #2b7a78;
  font-size: 1.2rem;
}

#about .event h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #2b7a78;
}

#about .event hr {
  border: solid 2px #2b7a78;
  border-radius: 1rem;
  width: 30%;
  margin: 0.65rem 0;
}

#about .event p {
  text-align: justify;
}

#resume .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .event a {
  border: solid 5px #2b7a78;
  border-radius: 1rem;
  background-color: #2b7a78;
  padding: 0.5rem 1.5rem;
  margin-top: 3.5rem;
  text-decoration: none;
  color: #feffff;
}

#about .event a:hover {
  box-shadow: 0 0 10px #2b7a78;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

#about .event a::after {
  content: " .";
  animation: dots 1.5s steps(5, end) infinite;
  color: #feffff;
}

@media only screen and (max-width: 750px) {
  #about .event {
    margin: 1rem;
  }
  #about .content .three {
    margin-bottom: 2.2rem;
  }
}

@media only screen and (max-width: 600px) {
  #about .event {
    width: 55%;
  }
}

@media only screen and (max-width: 500px) {
  #about .event {
    width: 72%;
  }
  @keyframes grow {
    from {
      transform: none;
    }
    to {
      transform: scale(1.1);
    }
  }
  #about .event:hover {
    transform: scale(1.1);
  }
}

#triangle-2 {
  background-color: #def2f1;
  height: 100px;
  width: 100%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  position: relative;
  top: 1px;
}

#projects {
  background-color: #def2f1;
  padding-bottom: 2rem;
}

#projects h2 {
  font-size: 3rem;
  text-align: center;
  color: #2b7a78;
  position: relative;
  top: -50px;
}

@media only screen and (max-width: 500px) {
  #projects h2 {
    padding-top: 30px;
  }
}

#projects .bubble {
  border: solid 5px #feffff;
  border-radius: 1rem;
  background-color: #feffff;
  box-shadow: 10px 10px #2b7a78;
  position: relative;
  top: -35px;
}

#projects .one {
  width: 5%;
  height: 5px;
  margin: 0 47.5%;
}

#projects .two {
  width: 10%;
  height: 5px;
  margin: 1rem 45%;
}

@media only screen and (max-width: 715px) {
  #projects .bubble {
    box-shadow: 7px 7px #2b7a78;
  }
}

@media only screen and (max-width: 500px) {
  #projects .bubble {
    box-shadow: 5px 5px #2b7a78;
  }
}

#projects .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#projects .project {
  max-width: 320px;
  padding: 1rem;
  border: solid 5px #feffff;
  margin: 0 10px 2rem 10px;
  border-radius: 1rem;
  background-color: #feffff;
  box-shadow: 10px 10px #2b7a78;
}

@media only screen and (min-width: 1200px) {
  #projects .project:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 555px) {
  #projects .project {
    width: 65%;
  }
}

#projects .project h4 {
  font-weight: normal;
  color: #2b7a78;
  font-size: 1.2rem;
}

#projects .project h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #2b7a78;
}

#projects .project hr {
  border: solid 2px #2b7a78;
  border-radius: 1rem;
  width: 30%;
  margin: 0.65rem 0;
}

#projects .project .image {
  border: solid 1px #2b7a78;
  text-align: center;
  height: 150px;
}

#projects .button-container {
  display: flex;
  justify-content: center;
}

#projects .project .button {
  margin-top: 1rem;
  border: solid 5px #2b7a78;
  border-radius: 1rem;
  box-shadow: 5px 5px #3aafa9;
  color: #2b7a78;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.3rem 0;
  text-align: center;
  width: 75%;
}

@keyframes colorchange {
  from {
    background-color: #feffff;
  }
  to {
    background-color: #2b7a78;
  }
}

#projects .button:hover {
  cursor: pointer;
  background-color: #2b7a78;
  color: #feffff;
  animation-name: colorchange;
  animation-duration: 0.5s;
}

#projects .popup {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  border: solid 5px #3aafa9;
  border-radius: 1rem;
  background-color: #def2f1;
}

@media only screen and (max-width: 750px) {
  #projects .popup {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}

@media only screen and (max-width: 500px) {
  #projects .popup {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}

#projects .popup-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#projects .popup-header h4 {
  font-weight: normal;
  font-size: 1.2rem;
}

#projects .popup-header h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
}

#projects .close {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

#projects .popup-header hr {
  border: solid 3px #2b7a78;
  border-radius: 1rem;
  width: 55%;
  margin: 0.65rem 0;
}

#projects .popup-content {
  padding: 0 1rem;
}

#triangle-container {
  background-color: #def2f1;
}

#triangle-3 {
  background-color: #3aafa9;
  height: 100px;
  width: 100%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  position: relative;
  top: 1px;
}

#skills {
  background-color: #3aafa9;
}

#skills .header h2 {
  text-align: center;
  font-size: 3rem;
  color: #feffff;
  margin-bottom: 2rem;
}

#skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  position: relative;
  left: 5%;
  right: 5%;
}

#skills .skill {
  margin-bottom: 3rem;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  width: 200px;
}

#skills .skill h3 {
  font-size: 2rem;
  color: #feffff;
}

#skills .progress {
  box-sizing: content-box;
  height: 15px;
  position: relative;
  background: #2b7a78;
  border-radius: 0.5rem;
  padding: 4px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#skills .progress > span {
  display: block;
  height: 100%;
  border-radius: 5px 3px 3px 5px;
  background-color: #def2f1;
}

.triangle-container-2 {
  background-color: #3aafa9;
}

#triangle-4 {
  background-color: #def2f1;
  height: 100px;
  width: 100%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  position: relative;
  top: 1px;
}

#contact {
  background-color: #def2f1;
}

#contact .header h2 {
  text-align: center;
  font-size: 3rem;
  color: #2b7a78;
  margin-bottom: 2rem;
}

#contact .form-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#contact form label {
  font-size: 1.5rem;
  color: #2b7a78;
}

#contact form input {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: #feffff;
  border: none;
  width: 500px;
  height: 25px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "jura";
  padding: 5px;
}

#contact form textarea {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: #feffff;
  border: none;
  width: 500px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "jura";
  padding: 5px;
}

#contact form #submit {
  background-color: #2b7a78;
  padding: 10px;
  height: 50px;
  width: 100%;
  color: #feffff;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #contact form input,
  #contact form textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #contact form input,
  #contact form textarea {
    width: 80%;
    left: 10%;
    position: relative;
  }
  #contact form label {
    position: relative;
    left: 10%;
  }
}

/*

footer
1. do footer

review
1. see codecademy list and requirements
*/
